@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

html, body, h1 {
     padding: 0;
     margin: 0;
     font-family: 'Lato', sans-serif;
}
body {
     background: #0a0a0a;
     height: 100vh;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgba(10, 10, 10, .6), rgba(0, 0, 0, .9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url('https://wallpapercave.com/wp/wp4649533.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
     overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 50%;
  top: 80%;
}
.text {
	font-family: 'Raleway', sans-serif;
  	color: #fff;
  	font-weight: 200;
  	font-size: 3.25em;
	
}

.dud {
  color: #757575;
}