@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

ul {
  display: inline;
  font-weight: 100;
  
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.links {
  font-size: 24px;
  position: absolute;
  text-align: left;
  left: 95.5%;
  top: 4%;
}
.buttons {
  font-size: 24px;
  position: absolute;
  text-align: left;
  left: 4%;
  top: 4%;
}
.label {
  display: inline;
  cursor: pointer;
  pointer-events: all;
}
.vk {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 1.2em;
  color: #909090;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: inline;
  
}

.vk:hover {
  color: #F5D033;
  transition: .2s linear;
}

.home {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 1.2em;
  color: #909090;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: inline;
  
}

.home:hover {
  color: #F5D033;
  transition: .2s linear;
}
